{% with 'text-white bg-red-700 hover:scale-105 hover:bg-red-700 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-700' as danger_button_class %}
<div class="mt-10 border border-red-700 p-5 text-center">
    <p class="mb-3 font-bold">Danger Zone</p>
    
    <button class="{{ danger_button_class }}" type="button" data-modal-toggle="popup-modal">
        Delete {% if title %}{{ title }}{% else %}Project{% endif %}
      </button>
      
      <div id="popup-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 md:inset-0 h-modal md:h-full">
          <div class="relative p-4 w-full max-w-md h-full md:h-auto">
              <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                  <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="popup-modal">
                      {% include 'icons/warning.html' %}
                      <span class="sr-only">Close modal</span>
                  </button>
                  <div class="p-6 text-center">
                      <svg aria-hidden="true" class="mx-auto mb-4 w-14 h-14 text-gray-400 dark:text-gray-200" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                      <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to delete this {% if title %}{{ title }}{% else %}Project{% endif %}?</h3>
                      <div class="mb-5 ">
                          <p class="text-sm mb-4 text-gray-500 dark:text-gray-400">Deleting this {% if title %}{{ title }}{% else %}Project{% endif %} will remove all of its data. This action cannot be undone.</p>
                            <p>{% if title %}{{ title }}{% else %}Project{% endif %} name: {{ object.name }}</p>
                            <p>{% if title %}{{ title }}{% else %}Project{% endif %} ID: {{ object.display_id }}</p>
                    </div>
                      <button data-modal-toggle="popup-modal" hx-delete="{{ object.get_delete_url }}" hx-confirm="Final confirmation, you cannot undo this. Continue?" class="{{ danger_button_class }}">Yes, I am sure.</button>
                    
                      <button data-modal-toggle="popup-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">No, cancel</button>
                  </div>
              </div>
          </div>
      </div>
</div>

{% endwith %}


