{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'base/head.html' %}

</head>

<body class="bg-white dark:bg-gray-900" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    
    {% include 'base/navbar.html' %}
    <div class="container mx-auto mt-4 min-h-screen">
        {% include 'base/messages.html' %}
        {% block content %}
        {% endblock content %}
    </div>

    {% include 'base/footer.html' %}
    {% include 'base/js.html' %}
     
</body>

</html>