{% extends "console/base.html" %}
{% load tailwind_filters %}

{% block head_title %}Create Project - {{ block.super }}{% endblock %}

{% block content %}
{% include 'console/page-breadcrumb.html' with list_title="Projects" list_url=projects_list_url object=object %}


<div class="flex text-center">
    <h2 class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-gray-900 md:text-4xl dark:text-white">
        {{ object.display_label }}  
    </h2>
</div>

<form method="POST" action="">{% csrf_token %}
    {{ form|crispy }}
    <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" type="submit">Save Changes</button>
</form>

{% include 'base/delete-block.html' with object=object title="Project" %}

{% endblock content %}