{% extends "console/base.html" %}

{% block head_title %}Projects - {{ block.super }}{% endblock %}



{% block content %}
{% include 'console/page-header.html' with title='Projects' create_url=projects_create_url %}




<div class="p-4 w-full max-w-md bg-white  shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700">

   <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            {% for object in object_list %}
                <li class="py-3 sm:py-4">
                    <div class="flex items-center space-x-4">
                        
                        <div class="flex-1 min-w-0">
                            <a href="{{ object.get_absolute_url }}" class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                {{ object.display_label }}
                            </a>
                            <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                Project ID: {{ object.project_id }}
                            </p>
                        </div>
                        <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                            <a class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500" href="{{ object.get_absolute_url }}">View</a>
                        </div>
                    </div>
                </li>
            {% endfor %}

            </ul>
    </div>
</div>




{% endblock content %}