{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'base/head.html' %}

</head>

<body class="bg-white dark:bg-gray-900 text-black dark:text-white" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    
    {% include 'console/navbar.html' %}
    <div class="container mx-auto mt-4 min-h-screen">
        <div class="flex">
            {% include 'console/sidebar.html' %}
            <div class="flex-auto px-5">
                {% include 'base/messages.html' %}
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>

    {% include 'base/footer.html' %}
    {% include 'base/js.html' %}
     
</body>

</html>