{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'base/head.html' %}
    {% block meta %}{% endblock %}
    <title>{% block head_title %}Road to Kubernetes{% endblock head_title %}</title>
</head>

<body class="bg-white dark:bg-gray-900 text-black dark:text-white" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    
    {% include 'console/navbar.html' %}


  {% include 'console/submenu.html' %}
  
    <div class="container mx-auto mt-4 min-h-screen">
        <div class="flex">
            {% include 'console/sidebar.html' %}
            <div class="flex-auto px-5">
                {% include 'base/messages.html' %}
                {% if not request.session.project_id and "/apps/" in request.path %}
                 {% include 'projects/snippets/project_required.html' %}
                {% else %}
                    {% block content %}
                    {% endblock content %}
                {% endif %}
            </div>
        </div>
    </div>

    {% include 'base/footer.html' %}
    {% include 'base/js.html' %}
     
</body>

</html>