<div id="div_id_certificate_issuer" class="mb-3"> <label for="id_certificate_issuer" class="block text-gray-700 text-sm font-bold mb-2">
    Certificate issuer
</label> <div class="mb-3"> <div class="relative">
<select class="border border-red-500 bg-white focus:outline-none border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal text-gray-700" name="certificate_issuer"> <option value="None">Select to enable cert-manager issuer:</option> <option value="1">Enable</option> <option value="0">Disable</option> </select>
<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"> <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path> </svg> </div>
</div>
</div> <p id="error_1_id_certificate_issuer" class="text-red-500 text-xs italic"><strong>Select a valid choice. None is not one of the available choices.</strong></p> </div>

<div class="mb-0"></div>