{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Login" %} to your account on {{ block.super }}{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
  <p>{% blocktrans with site.name as site_name %}Please login with one
  of your existing third party accounts. Or, <a href="/signup">sign up</a>
  for a {{ site_name }} account and login below:{% endblocktrans %}</p>

  <div class="socialaccount_ballot d-none">

    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

    <div class="login-or">{% trans 'or' %}</div>

  </div>

  {% include "socialaccount/snippets/login_extra.html" %}
{% endif %}


<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
         
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            {% if form.errors %}
              <div class="alert mb-4">
                  <div class="border border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700"> 
                    <ul> 
                      {% if form.non_field_errors %}<li>{{ form.non_field_errors }}</li>{% endif %} 
                      {% for field in form %}
                        {% if field.errors %}
                          <li>
                            {{ field.label }}
                            <ul class="errorlist">
                              {% for error in field.errors %}
                                <li>{{ error }}</li>
                              {% endfor %}
                            </ul>
                          </li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                </div> 
              </div>
            {% endif %}

              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                  Login to your account
              </h1>
              <form class="space-y-4 md:space-y-6" method="POST" action="{% url 'account_login' %}">{% csrf_token %}
                  <div>
                      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email or username</label>
                      
                      <input type="text" name="login" placeholder="Username or email" autocomplete="username" maxlength="150" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-sky-600 focus:border-sky-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  required="" id="id_login">
                  </div>
                  <div>
                      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                      <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-sky-600 focus:border-sky-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                  </div>
                

                  <button type="submit" class="w-full text-white bg-sky-600 hover:bg-sky-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-sky-600 dark:hover:bg-sky-700 dark:focus:ring-sky-800">Login</button>
                  
                  <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                      Don’t have an account yet? <a href="{% url 'account_signup' %}" class="font-medium text-sky-600 hover:underline dark:text-sky-500">Sign up</a>
                  </p>
                  <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                    <a href="{% url 'account_reset_password' %}" class="text-sm font-medium text-sky-600 hover:underline dark:text-sky-500">Forgot password?</a>
                  </p>
              </form>
          </div>
      </div>
  </div>
</section>



{% endblock %}
