{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Logout" %}{% endblock %}

{% block content %}

<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
         
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              {% include 'account/form-errors.html' with form=form %}

              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                {% trans "Logout" %}
              </h1>

            <form class="space-y-4 md:space-y-6"  method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
         <p>{% trans 'Would you like to continue?' %}</p>

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class='w-full text-white bg-sky-600 hover:bg-sky-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-sky-600 dark:hover:bg-sky-700 dark:focus:ring-sky-800' type="submit">{% trans 'Yes, logout' %}</button>
      </form>
      </div>
    </div>
  </div>
  </section>

{% endblock %}
