{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your Email Address" %}{% endblock %}

{% block content %}

<div class="bg-black p-4 text-center rounded">
    <h1>{% trans "Verify Your Email Address" %}</h1>
    <p class="lead">We sent you a verification email from <span class='bold text-warning'>server@freetogrowcfo.com</span></p>
    <p  class="lead">Please check your spam folder if you do not see the email soon. The email should arrive between 30 seconds and even up to 5 minutes.</p>
    
</div>

<p>{% blocktrans %}<strong>Note:</strong> you can still <a href="{{ email_url }}">change your email address</a>.{% endblocktrans %}</p>


{% endblock %}
