{% with "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" as unselected_project_dropdown %}
<div class="md:inline-flex" id="project-choice-container">
    <form hx-post="{{ projects_select_url }}{% if label_hide %}?label_hide=True{% endif %}" hx-trigger="change" hx-swap="outerhtml" hx-target="#project-choice-container" >
      <label for="current-project" 
                class="{% if label_hide %}hidden mb-2{% else %}block mb-2 text-sm font-medium  text-gray-900 dark:text-gray-400{% endif %}">Project</label>
        <select name='project_id'  id='current-project' class=" {% if request.session.project_id %}bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 {% else %}{{ unselected_project_dropdown }}{% endif %} ">
            <option>---- Select a project ----</option>
            {% for project_object in object_list %}
            <option value="{{ project_object.project_id }}" {% if request.session.project_id == project_object.project_id%}selected='selected'{% endif %}>{{ project_object.display_label }}</option>
            {% endfor %}

            <option class='bg-blue-700 text-white' value="create">+ Create Project</option>
        </select>
    </form>
</div>
{% endwith %}