{% extends 'base.html' %}

{% block head_title %}
Kubernetes Secrets Encoder
{% endblock head_title %}


{% block content %}


<div class="px-6 mb-4 text-center">
    <h2 class="text-3xl font-extrabold tracking-tight leading-none text-gray-900 md:text-4xl dark:text-white">
        Secrets Encoder
    </h2>
    <p class="mt-2">Kubernetes Secrets must be stored as <code class="dark:text-rose-400 text-rose-600 text-left">Base64</code> values. Below is an in-browser tool to allow you to generate Base64 strings without sending any data to the server. </p>

</div>
<div class="p-6  bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    {% include 'apps/snippets/base64_encoder.html' %}
</div>





{% endblock content %}